.content-title {
    background: #ffb969;
    padding: 24px 12px 24px 12px;
}

.myImgWrapper {
    height: 250px;
}

@media only screen and (max-width: 600px) {
    .myImgWrapper {
        height: 200px;
    }
}

.myImg {
    height: auto;
    width: 100%;
    max-width: 250px;
    min-width: 80px;
}

@media only screen and (max-width: 600px) {
    .myImg {
        height: auto;
        width: 100%;
        max-width: 200px;
        min-width: 80px;
    }
}

/** Animation styles can be found on https://github.com/kaustubhmenon/animation-library **/
/* fadeInDown */
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20px, 0); }
    100% {
        opacity: 1;
        -webkit-transform: none; } }
@-moz-keyframes fadeInDown {
    0% {
        opacity: 0;
        -moz-transform: translate3d(0, -20px, 0); }
    100% {
        opacity: 1;
        -moz-transform: none; } }
@-o-keyframes fadeInDown {
    0% {
        opacity: 0;
        -o-transform: translate3d(0, -20px, 0); }
    100% {
        opacity: 1;
        -o-transform: none; } }
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -20px, 0); }
    100% {
        opacity: 1;
        transform: none; } }

.u--fadeInDown {
    -webkit-animation: fadeInDown 1s ease;
    -moz-animation: fadeInDown 1s ease;
    -o-animation: fadeInDown 1s ease;
    animation: fadeInDown 1s ease; }

