@import '~antd/dist/antd.css';

.ant-layout-header {
    height: 32px;
    background-color: white;
}

.content-title {
    background: #ffb969;
    padding: 24px;
}

.content-main {
    font-size: 18px;
    max-width: 900px;
    margin: auto;
}

.headings {
    font-family: "Century Gothic", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.text-big {
    font-size: 5vmax;
}

.text-medium {
    font-size: 32px;
}

.text-miniMedium {
    font-size: 24px;
}

.myImg {
    height: auto;
    width: 100%;
    max-width: 300px;
    min-width: 100px;
}

.footerImg {
    position: absolute;
    right: 0;
    width: 150px;
    top: -30px;
}

.footerIcons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.test {
    position: relative;
}

.footerIcons > * {
    margin-right: 16px;
}

.fandomIcon svg {
    transition: all 0.2s ease-in;
}

.fandomIcon:hover svg {
    transition: all 0.2s ease-in;
    fill: #3fdede;
}

.gradient-border {
    background-image: linear-gradient(to right, rgba(239, 210, 151, 0.95) 25px, transparent 85%);
    border: 0;
    height: 4px;
    margin: 6px 0 12px 0;
}